* {
  margin: 0;
  font-family: Arial;
  border: border-box;
}

.navbar {
  height: 75px;
  background-color: #00573D;
  color: white;
  display: flex;
  align-items: center;
}

.nav-logo{
  height: 70px;
  width: 70px;
}
.logo{
  background-image: url("Logo.png");
  background-size: cover;
  height: 70px;
  width: 100%;
}

.border{
  border: 2px solid transparent;
}

.border:hover{
  border: 2px solid white;
}

.nav-logoname{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}

/**box 3**/

.nav-search{
  display: flex;
  justify-content: space-evenly;
  width: 620px;
  height: 40px;
  border-radius: 7px;
  margin-left: 290px;
}

.search-select{
  background-color: #f3f3f3;
  width: 50px;
  text-align: center;
  padding: 5px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  border: none ;
}

.search-input{
  width: 100%;
  font-size: 1rem;
  border: none;
}

.search-icon{
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  background-color: rgb(86, 86, 86);
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  color: rgb(8, 48, 8); ;
}

.nav-search:hover{
  border: 2px solid blue;
}

/**box 3**/

.nav-kart{
  font-size: 25px;
  margin-left: 20rem;
}
.nav-kart:hover{
  color: gray;
}

/**box 3**/

.nav-login{
  font-size:25px ;
  margin-left: 5rem;
}

.nav-link:hover{
  color: gray;
}

.nav-link{
  color: #f3f3f3;

}

/**panel**/

.panel{
  background-color: grey;
  height: 30px;
  display: flex;
  color: white;
  align-items: center;

}
.all-panel{
  margin-left:10px;
}

.panel-ops p{
  display: inline;
  margin-left: 10px;
}

.panel-ops{
  width: 70%;
  font-size: 1rem;
}
a {
  text-decoration: none;
}
.ops-home:hover{
  background-color: #ffffff;
  color: #00573D;
  cursor: pointer;
}
.ops-aboutus:hover{
  background-color: #ffffff;
  color: #00573D;
  cursor: pointer;

}

/**hero section**/
.hero-bg{
  background-image: url("log.jpg");
  background-size:contain;
  height: 300px;
  opacity:0.9;
}
.hero-value{
  color: #f3f3f3;
  font-size: 7rem;
  text-align: center;
}

.hero-message{
  color: #ffffff;
  font-size: 1.5rem;
  width: 100%;
  font-style: oblique;
  text-align: center;
}
.product-heading{
  padding-top: 1rem;
  color: #00573D;
  font-size: 2rem;
  text-align: center;
}
.hero-productbox1{
  display: flex;
  justify-content: space-evenly;
  padding-top: 1rem;


}
.product-box1{
  width: 100%;
  height: 25rem;
  width: 23rem;
  background-color: #00ffd9;
}
.product-box2{
  height: 25rem;
  width: 23rem;
  background-color: #00ffd9;
}
.product-box3{
  height: 25rem;
  width: 23rem;
  background-color: #00ffd9;
}
.product-box4{
  height: 25rem;
  width: 23rem;
  background-color: #00ffd9;
}
.hero-productbox2{
  display: flex;
  justify-content: space-evenly;
  padding-top: 1rem;


}
.product-box5{
  width: 100%;
  height: 25rem;
  width: 23rem;
  background-color: #00ffd9;
}
.product-box6{
  height: 25rem;
  width: 23rem;
  background-color: #00ffd9;
}
.product-box7{
  height: 25rem;
  width: 23rem;
  background-color: #00ffd9;
}
.product-box8{
  height: 25rem;
  width: 23rem;
  background-color: #00ffd9;
}

.productimg1 {
  padding: 5%;
}
.productimg2{
  padding: 5%;
}

.productimg3{
  padding: 5%;
}
.productimg4{
  padding: 5%;
}
.productimg5{
  padding: 5%;
}

.productimg6{
  padding: 5%;
}
.productimg7{
  padding: 5%;
}
.productimg8{
  padding: 5%;
}
.hero-box{
  display: flex;
  justify-content: space-evenly;
  padding-top: 7rem;
}
i{
  padding: 10px;
}
.box1{
  height: 7rem;
  width: 30rem;
  display: flex;
  background-color: #f3f3f3;
  border-radius: 5rem;
  justify-content: center;
  align-items: center;
  color: orange;
  font-size: 5rem;
}
.box1:hover{
  background-color: orange;
  color: #ffffff;
}

.box2{
  height: 7rem;
  width: 30rem;
  background-color: #f3f3f3;
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: orange;
  font-size: 5rem;
  
}
.box2:hover{
  background-color: orange;
  color: #ffffff;
}

/**copy**/
.copyright{
  height: 50px;
  background-color: gray;
}
.copy{
  font-size: 1rem;
  display: flex;
  justify-content: center;
  padding-top: 10px;

}